body {

}



.div-full {
    display: flex;
    align-items stretch:
    

}


.div-60 {
    width:60%;
   flex-grow: 2;
}
.div-40 {
    width:40%;
  flex-grow: 1;

 



}
#Label1 {
    font-size: 20px;
    text-align: center;
} 


