body {

}



.div-full {
    display: flex;
    align-items: center;
    

}

.div-left {
    width: 70%;
}

.div-right {
    width: 30%;
    text-align: center;
    margin: auto;
    align-self: center;
}

.div-button {
    overflow: auto;
}
#Label1 {
    font-size: 20px;
    text-align: center;
    margin: auto;
    width: 100%;
    align-self: center;
} 


